/* 
    COLOUR PALETTE
    night:            #182222;
    dark-slate-gray:  #405B5B;
    french-gray:      #e2dfe7;

    FONT FAMILIES
    headings and button: 'Fjalla One', sans-serif;
    body copy: 'Open Sans', sans-serif;
*/
/*Creating variables for the colours*/
:root {
    --night: #182222;
    --dark-slate-gray: #405B5B;
    --french-gray: #e2dfe7;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 100%;

}

.main-container {
    margin: 0 auto;
    width: 100%;
    margin-left: 8.5vw;
}

p {
    padding-top: 1rem;
    padding-bottom: 1.25rem;
}

.main-container p:nth-child(2) {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;

}

.image-container {
    display: flex;
    width: 40%;
    gap: 20px;
    justify-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;

}

h1,
h2,
h3 {
    color: var(--dark-slate-gray);
    font-family: fjalla;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

h3 {
    border: 2px solid var(--dark-slate-gray);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 25vh;
    text-align: center;
}

h2 {
    padding-bottom: 1rem;
}



p {
    width: 80%;
}

footer {
    background-color: var(--night);
    color: var(--dark-slate-gray);
    padding-top: 3rem;
    padding-bottom: 3rem;


}

footer p {
    padding: 0.2rem;
    text-align: center;
    font-size: 0.8rem;
    margin: 0 auto;
    width: 60%;
}

footer p:first-child {
    font-size: 2rem;

    font-family: fjalla;
}